#centradoLogin{
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    background-color: rgba(72, 72, 72, 0.619);
    z-index: 10;
    height: 100%;
    
}
.login{
    display: none;
    background-color: cadetblue;
    font-family: monospace;
    width: 50%;
    height:fit-content;
    border-radius: 2%;
    transition: 0.8s;
    z-index: 10;
    opacity: 100%;
}
.login>.logoYTexto{
    text-align: center;
}
.login>.logoYTexto>img{
    width:40%;
}

.formulario>.btn{
    width: 100%;
    
    
}
.formulario>.btn:hover{
    color:black;
    background-color: azure;
}
#emailHelp{
    color: white;
}
#cancel{
    cursor:pointer;
    color:white;
    font-size:2em;
    transition:0.5s;
}
#cancel:hover{
    color:black;
}
/* Celular */
@media screen and (max-width:767px) {
.login{
    width:90%;
    height: 90%;
}

}